.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbarAlign {
  z-index: 2;
}
.sidenavLinks {
  margin-top: 45%;
}
.sidenavLinks a {
  margin-bottom: 20%;
}
.sidenav {
  z-index: -1 !important;
}
.footerStyle {
  background-color: #212529;
  color: rgb(255, 255, 255);
}
.cardAlign {
  margin-left: 17% !important;
  margin-top: 4% !important;
}
.catCard {
  margin-bottom: 5% !important;
}
.navbarName {
  font-size: 235% !important;
}
.navBarItems {
  margin-left: 5% !important;
}
.navBarItem {
  margin-left: 16% !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-view {
  display: block;
  margin-left: 7%;
  margin-right: auto;
}

.sidebar {
  display: block;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: auto;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.right {
  margin-top: 5% !important;
  margin-right: 3%;
  margin-left: 6%;
}

.left {
  margin-top: 4% !important;
}

.badge-text {
  margin-left: 25%;
}
.badge-text-right {
  color: red;
}

.list-group-item {
  background-color: yellow;
}
/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.del-btn{
  width: 35%;
  align-self: center;
}

.svg-btn{
  align-self: end;
  margin: -26px 10px 10px 0;
  color: red;
  cursor: pointer;
}

.svg-btn-wishlist{
  color: yellow;
}

.left-side{
  align-self: self-start;
  display: inline-flex;
  margin-left: 11px;
}

.likecount-label{
  margin: -4px 0 0 4px;
}

#wishlist-label {
  /* height: 80px;
  width: 80px; */
  border: none;
  background: none;
  color: deeppink;
  cursor: pointer;
  margin-left: 5%;
  float: right;
}

.img-view{
  border-radius: 30px;
}

.h6{
  margin-bottom: 2%;
}


